html {
    font-size: 62.5%;
}

/* Reset y configuración base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Cuerpo de toda la aplicacion */
body {
    color: var(--text);
    background-color: var(--color-bg);
    height: 100vh;
}

/* Elemento #root, div donde se monta la aplicacion */
#root {
    height: 100%;
}

/* Clase para centrar elementos hijos al centro */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* Toast */

.go2072408551 {
    gap: .5rem;

    /* icono */
    .go2358747891 {
        min-width: auto !important;
    }

    /* texto */
    .go3958317564 {
        margin: 4px 0 !important;
    }
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
    width: 8px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
}