/* Registration Wizard Styles */
.registration-wizard {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 10rem;
}

/* Header wizard */
.registration-wizard .wizard-header {
    position: relative;
    margin-top: 1rem;
    border-bottom: solid 2px var(--tertiary);
    padding: 1rem;
    margin-bottom: 1.6rem;


    button {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    h1 {
        color: var(--primary);
        font-size: 1.6rem;
        display: flex;
        gap: .5rem;
        align-items: center;
    }

    p {
        color: var(--text);
        font-size: 1.2rem;
    }
}